In [2]:
import nltk
import re
import string
from nltk.tokenize import word_tokenize
import os
import xml.etree.ElementTree as etree
import pandas as pd

In [4]:
# import modules
# from Modules import POS_tag_From_Database   



def POS_tag_From_Database(token):
    ''' POS_tag_From_Database take single parameter which is token in pashto
    and return the respective part of speech tag from the database
    if len(words)==len(adjective) is not equal will return None
    return None if word not present in database
    '''
    
    file_path = "Datasets/Pastho-dictionary(pos).xlsx"
    dictt = pd.read_excel(file_path)

    words = list(dictt.token)
    adjective = dictt.Adjective

    if len(words)==len(adjective):
        pos_dictionary = {}
        for index in range(len(words)):
            pos_dictionary[words[index]] = adjective[index].strip()
    else:
        print("words and respective tag not equal in database path :{}".format(file_path))
        return None

    if token in pos_dictionary:
        return (token , pos_dictionary[token])
    else:
        ## apply some rules on those words whose are present in the database
        pass
    
    
    
if __name__ == '__main__':
    pass

In [5]:
sen = open('Datasets/ao-kana.txt',encoding="utf8").read()

print("Sentance : ",sen)

tokens = word_tokenize(sen)
print("Tokens : ",tokens)


for token in tokens:
    print(POS_tag_From_Database(token))

Sentance :  عقل ګودرغاړهاولاړشو غاړه  افلاكو علم انشاء علم
Tokens :  ['عقل', 'ګودرغاړهاولاړشو', 'غاړه', 'افلاكو', 'علم', 'انشاء', 'علم']
('عقل', 'Noun')
None
None
None
('علم', 'Abbreviation')
None
('علم', 'Abbreviation')

In [6]:
import importlib
from Modules import update_database_with_new_words

updated_words=[("هلک","NICD"),("هلکان","N2CD"),("زه","PP"),
       ("زما","PS"),
        ("هر","PI"),
        ("ځان","PX"),
        ("یوبل","PR"),
        ("خپل ځان","PN"),
        ("کم یو","PL"),
        ("هریو" , "PB")]
update_database_with_new_words(updated_words)

update_database_with_new_words : Called
هلک already in the database
هلکان already in the database
زه already in the database
زما already in the database
هر already in the database
ځان already in the database

<bound method NDFrame.tail of           token     Adjective
0           ابا  \t\t\tNoun
1       ابابيله  \t\t\tNoun
2      اباتوالی  \t\t\tNoun
3        اباتوب  \t\t\tNoun
4        اباتول  \t\t\tVerb
...         ...           ...
18247     واورئ        Verb
18248      یوبل            PR
18249   خپل ځان            PN
18250     کم یو            PL
18251      هریو            PB

[18252 rows x 2 columns]>

In [7]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [14]:
dictt = df.to_dict(orient='list')

dictt['col1'].append(3)
dictt['col2'].append("None")

df = pd.DataFrame(data=dictt)

In [16]:
df

   col1  col2
0     1     3
1     2     4
2     3  None

Requirement already satisfied: openpyxl in /home/iffishells/anaconda3/lib/python3.8/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /home/iffishells/anaconda3/lib/python3.8/site-packages (from openpyxl) (1.1.0)